<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nanchengyu.lease.web.admin.mapper.AttrKeyMapper">
    <resultMap id="AttrKeyVoMap" type="cn.nanchengyu.lease.web.admin.vo.attr.AttrKeyVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="attrValueList" ofType="cn.nanchengyu.lease.model.entity.AttrValue">
                <id property="id" column="attr_value_id"/>
                <result property="name" column="attr_value_name"/>
                <result property="attrKeyId" column="attr_key_id"/>
        </collection>
    </resultMap>
    <!-- 查询属性列表 -->
    <select id="listAttrInfo" resultMap="AttrKeyVoMap">
        select k.id,
               k.name,
               v.id   attr_value_id,
               v.name attr_value_name,
               v.attr_key_id
        from lease.attr_key k
                 left join lease.attr_value v on k.id = v.attr_key_id and v.is_deleted = 0
            #    left join 返回所有的数据
        where k.is_deleted = 0
    </select>
</mapper>
