<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nanchengyu.lease.web.admin.mapper.SystemUserMapper">

    <select id="selectOneByUsername" resultType="cn.nanchengyu.lease.model.entity.SystemUser">
        select id,
               username,
               password,
               name,
               type,
               phone,
               avatar_url,
               additional_info,
               post_id,
               status
        from lease.system_user
        where is_deleted = 0
          and username = #{username}
    </select>
    <select id="getLoginUserInfo" resultType="cn.nanchengyu.lease.web.admin.vo.system.user.SystemUserInfoVo">
        select name,
               avatar_url
        from lease.system_user
        where is_deleted = 0
          and Id = #{userId}
    </select>
</mapper>
